body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:20px;
  top:20px;
  width:1200px;
  height:929px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:929px;
}
#u2 {
  position:absolute;
  left:2px;
  top:456px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:280px;
  top:91px;
  width:920px;
  height:757px;
  color:#3985FF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:757px;
}
#u4 {
  position:absolute;
  left:2px;
  top:370px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:20px;
  top:188px;
  width:238px;
  height:90px;
}
#u5_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:244px;
  height:96px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:95px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5B5B5B;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:5px;
  width:234px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:238px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:234px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:60px;
  width:238px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5B5B5B;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:5px;
  width:234px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:24px;
  top:222px;
  width:24px;
  height:24px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:26px;
  top:194px;
  width:25px;
  height:22px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u16 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:25px;
  top:251px;
  width:25px;
  height:25px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:313px;
  top:127px;
  width:70px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:344px;
  top:130px;
  width:29px;
  height:25px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u22 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:316px;
  top:130px;
  width:24px;
  height:24px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:388px;
  top:128px;
  width:70px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:419px;
  top:131px;
  width:29px;
  height:25px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u28 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:391px;
  top:131px;
  width:23px;
  height:23px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:880px;
  top:124px;
  width:300px;
  height:33px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:313px;
  top:190px;
  width:107px;
  height:120px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:120px;
}
#u34 {
  position:absolute;
  left:2px;
  top:52px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:459px;
  top:196px;
  width:43px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:445px;
  top:226px;
  width:57px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:459px;
  top:256px;
  width:43px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:459px;
  top:286px;
  width:43px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:517px;
  top:196px;
  width:43px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:517px;
  top:226px;
  width:56px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:517px;
  top:256px;
  width:65px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:517px;
  top:286px;
  width:85px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:820px;
  top:190px;
  width:107px;
  height:120px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:120px;
}
#u52 {
  position:absolute;
  left:2px;
  top:52px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:966px;
  top:196px;
  width:43px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:952px;
  top:226px;
  width:57px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:966px;
  top:256px;
  width:43px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:966px;
  top:286px;
  width:43px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:1024px;
  top:196px;
  width:43px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:1024px;
  top:226px;
  width:56px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:1024px;
  top:256px;
  width:65px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:1024px;
  top:286px;
  width:85px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:316px;
  top:370px;
  width:107px;
  height:120px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:120px;
}
#u70 {
  position:absolute;
  left:2px;
  top:52px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:462px;
  top:376px;
  width:43px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:448px;
  top:406px;
  width:57px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:462px;
  top:436px;
  width:43px;
  height:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:462px;
  top:466px;
  width:43px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:520px;
  top:376px;
  width:43px;
  height:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:520px;
  top:406px;
  width:56px;
  height:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:520px;
  top:436px;
  width:65px;
  height:20px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:520px;
  top:466px;
  width:85px;
  height:20px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:823px;
  top:370px;
  width:107px;
  height:120px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:120px;
}
#u88 {
  position:absolute;
  left:2px;
  top:52px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:969px;
  top:376px;
  width:43px;
  height:20px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:955px;
  top:406px;
  width:57px;
  height:20px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:969px;
  top:436px;
  width:43px;
  height:20px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:969px;
  top:466px;
  width:43px;
  height:20px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:1027px;
  top:376px;
  width:43px;
  height:20px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:1027px;
  top:406px;
  width:56px;
  height:20px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:1027px;
  top:436px;
  width:65px;
  height:20px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:1027px;
  top:466px;
  width:85px;
  height:20px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:316px;
  top:580px;
  width:107px;
  height:120px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:120px;
}
#u106 {
  position:absolute;
  left:2px;
  top:52px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:462px;
  top:586px;
  width:43px;
  height:20px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:448px;
  top:616px;
  width:57px;
  height:20px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:462px;
  top:646px;
  width:43px;
  height:20px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:462px;
  top:676px;
  width:43px;
  height:20px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:520px;
  top:586px;
  width:43px;
  height:20px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:520px;
  top:616px;
  width:56px;
  height:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:520px;
  top:646px;
  width:65px;
  height:20px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:520px;
  top:676px;
  width:85px;
  height:20px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:823px;
  top:580px;
  width:107px;
  height:120px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:120px;
}
#u124 {
  position:absolute;
  left:2px;
  top:52px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:969px;
  top:586px;
  width:43px;
  height:20px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:955px;
  top:616px;
  width:57px;
  height:20px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:969px;
  top:646px;
  width:43px;
  height:20px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:969px;
  top:676px;
  width:43px;
  height:20px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:1027px;
  top:586px;
  width:43px;
  height:20px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:1027px;
  top:616px;
  width:56px;
  height:20px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:1027px;
  top:646px;
  width:65px;
  height:20px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:1027px;
  top:676px;
  width:85px;
  height:20px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:360px;
  top:320px;
  width:16px;
  height:16px;
}
#u142 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u143 {
  position:absolute;
  left:360px;
  top:500px;
  width:16px;
  height:16px;
}
#u144 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u145 {
  position:absolute;
  left:360px;
  top:710px;
  width:16px;
  height:16px;
}
#u146 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u147 {
  position:absolute;
  left:868px;
  top:320px;
  width:16px;
  height:16px;
}
#u148 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u149 {
  position:absolute;
  left:868px;
  top:500px;
  width:16px;
  height:16px;
}
#u150 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u151 {
  position:absolute;
  left:868px;
  top:710px;
  width:16px;
  height:16px;
}
#u152 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u153 {
  position:absolute;
  left:323px;
  top:776px;
  width:100px;
  height:34px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u154 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:464px;
  top:128px;
  width:70px;
  height:30px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u156 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:495px;
  top:130px;
  width:29px;
  height:25px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u158 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:469px;
  top:134px;
  width:16px;
  height:16px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u160 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
