body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:20px;
  top:20px;
  width:1200px;
  height:929px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:929px;
}
#u2 {
  position:absolute;
  left:2px;
  top:456px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:280px;
  top:91px;
  width:920px;
  height:757px;
  color:#3985FF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:757px;
}
#u4 {
  position:absolute;
  left:2px;
  top:370px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:314px;
  top:112px;
  width:70px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:345px;
  top:115px;
  width:29px;
  height:25px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u8 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:317px;
  top:115px;
  width:22px;
  height:21px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:314px;
  top:147px;
  width:846px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:829px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:846px;
  height:1px;
}
#u12 {
  position:absolute;
  left:20px;
  top:188px;
  width:238px;
  height:90px;
}
#u12_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:244px;
  height:96px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:95px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:234px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:30px;
  width:238px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:234px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:60px;
  width:238px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:234px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:24px;
  top:192px;
  width:20px;
  height:25px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:310px;
  top:192px;
  width:855px;
  height:291px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:291px;
}
#u23 {
  position:absolute;
  left:2px;
  top:138px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:285px;
  top:493px;
  width:905px;
  height:200px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:200px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:901px;
  word-wrap:break-word;
}
